<!DOCTYPE html>
<html>
<head>

<title>MRBLU Statement Analyzer</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="topbar">
MRBLU Statement Analyzer
</div>


<div class="container">


<!-- UPLOAD SECTION -->

<div class="upload-box">

<input type="file" id="pdf" accept="application/pdf">

<button onclick="upload()">Analyze Statement</button>

</div>



<!-- STATEMENT INFO -->

<div class="card">

<h3>Statement Info</h3>

<div class="statement-grid">

<p><b>Bank:</b> <span id="bank"></span></p>

<p><b>Account Holder:</b> <span id="holder"></span></p>

<p><b>Account Number:</b> <span id="account"></span></p>

<p><b>Customer ID:</b> <span id="customer"></span></p>

<p><b>Branch:</b> <span id="branch"></span></p>

<p><b>IFSC:</b> <span id="ifsc"></span></p>

<p><b>MICR:</b> <span id="micr"></span></p>

<p><b>Mobile:</b> <span id="mobile"></span></p>

<p><b>Email:</b> <span id="email"></span></p>

<p><b>Period:</b> <span id="period"></span></p>

</div>

</div>



<!-- FILTERS + TABLE -->

<div class="card">

<div class="filters">


<select id="column">
<option value="">Column</option>
</select>


<input type="text" id="search" placeholder="Search text">


<select id="party">

<option value="all">All Parties</option>

</select>


<select id="type">

<option value="all">All</option>

<option value="debit">Debit</option>

<option value="credit">Credit</option>

</select>


<button onclick="applyFilters()">Filter</button>

<button onclick="download()">Export Excel</button>

</div>


<div class="table-wrapper">

<table id="table">

<thead></thead>

<tbody></tbody>

</table>

</div>

</div>

</div>


<script src="/static/script.js"></script>

</body>
</html>
